# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e o preço dos nossos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

Precisamos pegar na internet, de forma automática, a cotação desses 3 itens e saber quanto devemos cobrar pelos nossos produtos, considerando uma margem de contribuição que temos na nossa base de dados.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=sharing

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [33]:
#O Webdriver é de acordo com seu navegador e versão do navegador (Estou utilizando a versão do Google Chrome 14)

#Primeira coisa que vamos fazer é instalar e importar o Selenium

!pip install selenium

from selenium import webdriver
from selenium.webdriver.common.keys import Keys

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)

### Agora vamos atualiza a nossa base de preços com as novas cotações

- Importando a base de dados

In [34]:
#Para importar a base de dados vamos utilizar o Pandas

import pandas as pd 

#Criar dataframe e ler arquivo 

df = pd.read_excel('Produtos.xlsx')

#Exibir dados

display(df)

#Analisando o tipo de dado das colunas 
print(df.info())

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Produtos             7 non-null      object
 1   Preço Base Original  7 non-null      float64
 2   Moeda                7 non-null      object
 3   Cotação              7 non-null      int64
 4   Preço Base Reais     7 non-null      float64
 5   Margem               7 non-null      float64
 6   Preço Final          7 non-null      float64
dtypes: float64(4), int64(1), object(2)
memory usage: 520.0+ bytes
None

- Atualizando os preços e o cálculo do Preço Final

In [35]:
#O arquivo.exe do webdriver deve estar na mesma pasta do projeto (Agora vamos criar o webdriver)

nav = webdriver.Chrome()

#Acessando Google e obtendo cotação do dólar

nav.get('https://www.google.com/')
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação dólar')
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_dolar = nav.find_element_by_xpath(
    '/html/body/div[7]/div/div[9]/div[1]/div/div[2]/div[2]/div/div/div[1]/div/div/div/div/div[1]/div/div[1]/div[1]/div[2]/span[1]').get_attribute('data-value')
print("Cotação Dólar R$:", cotacao_dolar)

#Acessando o Google e obtendo cotação do euro

nav.get('https://www.google.com/')
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação euro')
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = nav.find_element_by_xpath(
    '/html/body/div[7]/div/div[9]/div[1]/div/div[2]/div[2]/div/div/div[1]/div/div/div/div/div[1]/div/div[1]/div[1]/div[2]/span[1]').get_attribute('data-value')
print("Cotação Dólar R$:", cotacao_euro)

#Acessando site para busca da cotação atual do Ouro

nav.get('https://www.melhorcambio.com/ouro-hoje')
cotacao_ouro = nav.find_element_by_xpath('/html/body/div[6]/div[1]/div/div/input[2]').get_attribute('value')
print("Cotação Ouro(g) R$:", cotacao_ouro)

#Fecha navegador
nav.quit()

Cotação Dólar R$: 5.511829
Cotação Dólar R$: 6.377323948000001
Cotação Ouro(g) R$: 311,22

In [36]:
#Agora que obtemos as cotações vamos substituira virgula por ponto no valor do ouro e converter os dados para float

cotacao_ouro = cotacao_ouro.replace(',', '.')

cotacao_dolar = float(cotacao_dolar)
cotacao_euro = float(cotacao_euro)
cotacao_ouro = float(cotacao_ouro)

print("Cotação Dólar R$:", cotacao_dolar)
print("Cotação Dólar R$:", cotacao_euro)
print("Cotação Ouro(g) R$:", cotacao_ouro)

Cotação Dólar R$: 5.511829
Cotação Dólar R$: 6.377323948000001
Cotação Ouro(g) R$: 311.22

### Agora vamos exportar a nova base de preços atualizada

In [37]:
df.loc[df['Moeda']=='Dólar', 'Cotação'] = cotacao_dolar
df.loc[df['Moeda']=='Euro', 'Cotação'] = cotacao_euro
df.loc[df['Moeda']=='Ouro', 'Cotação'] = cotacao_ouro

#Cálculo de novos valores e exibição de dados atualizados

df['Preço Base Reais'] = df['Cotação'] * df['Preço Base Original']
df['Preço Final'] = df['Preço Base Reais'] * df['Margem']
display(df)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5.511829,5511.773882,1.40,7716.483434
1,Carro Renault,4500.00,Euro,6.377324,28697.957766,2.00,57395.915532
2,Notebook Dell,899.99,Dólar,5.511829,4960.590982,1.70,8433.004669
3,IPhone,799.00,Dólar,5.511829,4403.951371,1.70,7486.717331
4,Carro Fiat,3000.00,Euro,6.377324,19131.971844,1.90,36350.746504
5,Celular Xiaomi,480.48,Dólar,5.511829,2648.323598,2.00,5296.647196
6,Joia 20g,20.00,Ouro,311.220000,6224.400000,1.15,7158.060000

In [38]:
# Agora vamos exportar a nova base de dados (podemos substituir o arquivo), entretanto irei gerar um novo
#Parametro index false, a coluna index n será exportada

df.to_excel("Produtos Atualizado.xlsx", index=False) 
print("Dados exportados com sucesso!")

Dados exportados com sucesso!